<ion-header>
  
  <ion-toolbar color="dark"> 

    <ion-title color="light">
      Inspection Task List  
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content class="bg-style" >
  <div class="contain">
    
    <div class="instructions">
      <div class="title1"><h5>Background</h5></div>
      <div class="paraGra">
        <p>Engrossed suffering supposing he recommend do eagerness. Commanded no of depending extremity recommend attention tolerably.</p>
      </div>
    </div>
    <div class="reportcontainer">
  <h5>Report</h5>
    <div class="checkbox1">
      <ion-item color="clear">
        <ion-label  class="labls">No access on site</ion-label>
        <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
      </ion-item>
      <ion-item color="clear" >
        <ion-label position="floating" class="labls">Site report</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <div class="butn"><ion-button class="btn-c" color="clear" >Camera</ion-button></div>
      
    </div>
    </div>
    <div class="imageConainer">
  
    </div>
    </div>
    
    <ion-content>
      <ion-infinite-scroll>
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data…">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
</ion-content>
